.sr-only {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-indent: -9999px;
}

/* Logo */
.logo {
  width: 80px;
  height: 80px;
}

.logo__link {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__link svg {
  fill: #2d2d2d;
  width: 100%;
  height: auto;
}

.logo__link:hover svg {
  /* fill: #004a55; */
  fill: #8c6969;
}

/* Typing */
.typing {
  position: relative;
}

.typing::after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
  padding: 0 1px;
  animation: cursor 0.8s ease-in-out 4s infinite;
}

/* Scroll Down Sign */
.scroll-down-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 20px;
  height: 250px;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-50%);
}

.scroll-down-arrow__line {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  transform: translate(-50%, 0);
}

.scroll-down-arrow svg {
  position: absolute;
  bottom: -7px;
  width: 100%;
  fill: #fff;
}

/* Source */
.source {
  position: absolute;
  bottom: 20px;
  left: 25px;
  color: #fff;
  opacity: 0.8;
}

.source::before {
  content: "📸";
  margin-right: 3px;
  font-size: 15px;
}

.source a:hover {
  text-decoration: underline;
}

.section-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.hashtag {
  margin-right: 5px;
}

.hashtag::before {
  content: "#";
  padding-right: 2px;
  color: #777;
  font-size: 15px;
}

/* ============== 애니메이션 ============== */
@keyframes scroll {
  0% {
    transform: translate(-50%, -100%);
  }
  5% {
    transform: translate(-50%, -95%);
  }
  100% {
    transform: translate(-50%, 100%);
  }
}

@keyframes cursor {
  0% {
    border-right: 1px solid #000;
  }
  50% {
    border-right: 1px solid transparent;
  }
  100% {
    border-right: 1px solid #000;
  }
}

/* ============== 반응형 ============== */
@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 480px) {
  .scroll-down-arrow {
    right: initial;
    opacity: 0.5;
  }
}
