.section-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.hashtag {
  margin-right: 5px;
}

.hashtag::before {
  content: "#";
  padding-right: 2px;
  color: #777;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
  }
}
