/* Intro */
.intro {
  background-color: lemonchiffon;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.intro__text-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
}

.intro__text {
  display: block;
}

.intro__text--show {
  position: absolute;
  font-size: 40px;
  transition-property: top, bottom;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 250ms;
}

.intro__text--show:first-child {
  top: 12px;
}

.intro__text-box.ani .intro__text--show:first-child {
  top: -25px;
}

.intro__text--show:last-child {
  bottom: 12px;
}

.intro__text-box.ani .intro__text--show:last-child {
  bottom: -25px;
}

.intro__text--hide {
  height: 1px;
  overflow: hidden;
  opacity: 0;
  font-size: 10px;
  transition-property: opacity, transform;
  transition-duration: 1.4s;
  transition-timing-function: ease-in-out;
}

.intro__text-box.ani .intro__text--hide.ani {
  height: auto;
  overflow: visible;
  opacity: 1;
  transform: scale(2.4);
}

/* Main */
.main-content {
  height: 1000px;
  background-color: #fff;
  position: relative;
  margin-top: 100vh;
  padding: 80px 15% 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
}

/* Main - Profile */
.main-content__profile {
  margin-bottom: 60px;
}

.profile__hashtag-box {
  font-size: 16px;
  padding-left: 8px;
  margin-bottom: 15px;
}

.profile__content {
  display: flex;
  align-items: center;
}

.profile__photo {
  flex-shrink: 0;
  width: 250px;
  height: 310px;
  margin-right: 24px;
  overflow: hidden;
  border-radius: 20px;
}

.profile__photo img {
  height: auto;
}

.profile__info-list {
  background-color: #f8f8f8;
  width: 100%;
  padding: 20px 30px;
}

.profile__info-title {
  padding: 5px 0;
  font-size: 17px;
  font-weight: 700;
}

.profile__info-desc {
  font-size: 15px;
  padding-left: 3px;
  margin-bottom: 6px;
}

/* Main - Project */
.main-content__project {
}

.project__list {
  display: flex;
  flex-wrap: wrap;
}

.project__list-item {
  background-color: lavender;
  width: 33.333333%;
  height: 100px;
}

.project__list-link {
  display: block;
  width: 100%;
}
