/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  padding-left: 60px;
  z-index: 100;
}

/* Intro */
.intro {
  background-color: lemonchiffon;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.intro__text-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  letter-spacing: -1.1px;
}

.intro__text {
  display: block;
  /* color: lemonchiffon; */
}

.intro__text--show {
  position: absolute;
  font-size: 40px;
  transition-property: top, bottom;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 250ms;
}

.intro__text--show:first-child {
  top: 12px;
}

.intro__text-box.ani .intro__text--show:first-child {
  top: -25px;
}

.intro__text--show:last-child {
  bottom: 12px;
}

.intro__text-box.ani .intro__text--show:last-child {
  bottom: -25px;
}

.intro__text--hide {
  height: 1px;
  overflow: hidden;
  opacity: 0;
  font-size: 10px;
  transition-property: opacity, transform;
  transition-duration: 1.4s;
  transition-timing-function: ease-in-out;
}

.intro__text-box.ani .intro__text--hide.ani {
  height: auto;
  overflow: visible;
  opacity: 1;
  transform: scale(2.4);
}

.scroll-down-arrow.ani {
  opacity: 1;
  transition: opacity 1.3s ease-in-out 1s;
}

.scroll-down-arrow.ani .scroll-down-arrow__line {
  animation: scroll 4s infinite normal;
}

/* Main */
.main-content {
  background-color: #fff;
  position: relative;
  margin-top: 100vh;
  padding: 80px 15% 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  transition: padding 300ms ease-in;
}

.main-content section {
  padding-bottom: 80px;
}

/* Main - Profile */
.main-content__profile {
}

.profile__hashtag-box {
  font-size: 16px;
  padding-left: 8px;
  margin-bottom: 15px;
}

.profile__content {
  display: flex;
  align-items: center;
}

.profile__photo {
  flex-shrink: 0;
  width: 250px;
  height: 310px;
  margin-right: 24px;
  overflow: hidden;
  border-radius: 20px;
}

.profile__photo img {
  height: auto;
}

.profile__info-list {
  background-color: #f8f8f8;
  width: 100%;
  padding: 20px 30px;
}

.profile__info-title {
  padding: 5px 0;
  font-size: 17px;
  font-weight: 700;
}

.profile__info-desc {
  font-size: 15px;
  padding-left: 3px;
  margin-bottom: 6px;
}

/* Main - Project */
.main-content__project {
}

.project__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 -12px;
}

.project__list-item {
  background-color: lavender;
  position: relative;
  margin: 12px;
  border-radius: 28px;
}

.project__list-item::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project__list-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project__info {
  background-color: lightsteelblue;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 40px;
  border-radius: 0 0 28px 28px;
}

.project__title {
  font-size: 20px;
  margin-bottom: 5px;
}

.project__desc {
}

@media only screen and (max-width: 1200px) {
  /* Main */
  .main-content {
    padding: 80px 8% 0;
  }
}

@media only screen and (max-width: 992px) {
  /* Main - Profile */
  .profile__content {
    flex-direction: column;
  }

  .profile__photo {
    margin: 16px 0 24px;
  }

  /* Main - Project */
  .project__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  /* Intro */
  .intro__text--show {
    font-size: 32px;
  }

  .intro__text-box.ani .intro__text--hide.ani {
    transform: scale(2);
  }

  .intro__text--show:first-child {
    top: 18px;
  }

  .intro__text-box.ani .intro__text--show:first-child {
    top: -8px;
  }

  .intro__text--show:last-child {
    bottom: 18px;
  }

  .intro__text-box.ani .intro__text--show:last-child {
    bottom: -8px;
  }

  /* Main */
  .main-content {
    padding: 80px 5% 0;
  }
}

@media only screen and (max-width: 600px) {
  /* Main - Project */
  .project__list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  /* Intro */
  .intro__text--show {
    font-size: 25px;
  }

  .intro__text-box.ani .intro__text--hide.ani {
    transform: scale(1.4);
  }

  .intro__text--show:first-child {
    top: 28px;
  }

  .intro__text-box.ani .intro__text--show:first-child {
    top: 7px;
  }

  .intro__text--show:last-child {
    bottom: 28px;
  }

  .intro__text-box.ani .intro__text--show:last-child {
    bottom: 7px;
  }
}
